/* Style pour la banniere */
.banner {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  width: 100%;

  background-color: #333;
  color: #fff;
}

header.banner {
  height: 6rem;
}

.banner #homeButton {
  position: relative;
  height: 64px;
  padding: 0;
  filter: invert(100%);
}

.banner #homeButton:hover {
  filter: invert(100%) drop-shadow(0rem 0rem 0.1rem #fff);
}

#themeSection {
  color: #fff;
  display: flex;
  width: 120px;
  flex-direction: column;
  align-items: center;
}
