.leaderboard-box {
  min-height: 10rem;
}

.table-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;

  text-align: center;
  font-family: "Arial", arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  animation: float 5s infinite;
}

.table-title {
  color: #333;

  font-size: 3rem;
  font-weight: 700;
  line-height: 0.1rem; /* 3.333% */
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.table-fill thead {
  height: 8rem;
  min-height: 8rem;
  max-width: 60rem;
  padding-top: 1.5rem;
}

.table-fill thead th {
  min-height: 8rem;
  padding: 1rem 4.5rem 1rem 2rem;
  flex-direction: column;

  background: var(--Dark-Gray, #333);

  color: var(--Grayish-White, #f9f9f9);
  font-size: 2rem;
  font-weight: 700;
}

thead th:first-child {
  border-top-left-radius: 0.25rem;
}

thead th:last-child {
  border-top-right-radius: 0.25rem;
}

.table-fill thead,
.table-fill tbody tr .table-fill tbody {
  max-width: 60rem;
  padding-top: 0.375rem;
  display: flex;

  align-self: stretch;
}

.table-fill tbody tr {
  padding-top: 0.375rem;
  align-self: stretch;
}

.table-fill tbody tr td {
  width: 12rem;
  height: 8rem;
  min-height: 8rem;
  padding: 1rem 4.5rem 1rem 2rem;
  flex: 1 0 0;

  background: var(--Broke-White, #f4f4f4);

  color: var(--Dark-Gray, #333);
  font-size: 1.5rem;
  font-weight: 400;
}

/* Bottom border separator on each body row */
.table-fill tbody tr > * {
  border-bottom: 6px solid var(--Dark-Gray, #333);
}

.table-fill .separator {
  display: flex;
  width: 0.125rem;
  height: 8rem;
  max-width: 0.125rem;
  min-height: 8rem;
  align-items: center;
}

.table-fill thead .separator {
  background: var(--Broke-White, #f4f4f4);
}

.table-fill tbody .separator {
  background: var(--Dark-Gray, #333);
}
