* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: var(--Broke-White, #f4f4f4);
  color: #333;
  line-height: 1.6;
}

/* Style pour la banniere */
.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: space-between; /* espace entre les éléments */
  padding: 1rem 20px;
}

.banner #homeButton {
  position: absolute;
  padding: 0;
  top: 16px;
  left: 16px;
  filter: invert(100%);
}

.banner #homeButton:hover {
  filter: invert(100%) drop-shadow(0rem 0rem 0.1rem #fff);
}

/* Style pour le menu */
#accountMenu {
  display: flex;
  width: 12rem;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 16px;
  cursor: pointer;
}

#accountMenu #userProfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: #fff;
  text-align: center;
  font-size: 1.25rem;
}

.dropdown-menu {
  /* Ne pas utiliser display: none, car cela empêche les transitions */
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(
    -10px
  ); /* Déplacer légèrement vers le haut pour l'animation */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease; /* Animation sur 0.3s */
  visibility: hidden; /* Cache l'élément initialement */
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}

#accountMenu:hover .dropdown-menu,
#accountMenu.active .dropdown-menu {
  opacity: 1;
  transform: translateY(0); /* Menu revient à sa position initiale */
  visibility: visible; /* Rend le menu visible */
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
}

.main-box {
  display: flex;
  height: 31.25rem;
  max-width: 75rem;
  padding: 4.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 0.625rem;
  background: var(--Pure-White, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.main-box .all_btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#switchAuth {
  position: relative;
  display: block;
  font-size: 10px;
  color: rgb(60, 60, 60);
  text-decoration: none;
  cursor: pointer;
}

#switchAuth:hover {
  text-decoration: underline;
}

/*
        Buttons
*/

.btn {
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  align-content: space-between;

  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;

  border: none;
  border-radius: 0.3125rem;
  background: var(--Electric-Blue, #007bff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    #007bff;
}

.btn:active {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    #007bff;
  box-shadow: none;
}

.dropdown-menu .btn {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  align-self: stretch;

  background: var(--Pure-White, #fff);
  color: var(--Dark-Gray, #333);
  text-align: center;
  font-size: 1.25rem;

  box-shadow: none;
  border: none;
  border-radius: 0;
}

.dropdown-menu .btn:hover {
  background: var(--Pale-Blue, #d6eaff);
}

/*
        Auth
*/
/* Style pour les boutons d'authentification */
.auth-buttons {
  position: absolute;
  top: 2rem;
  right: 6%;
}

.auth-buttons .btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

/* Style pour le popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.close-btn {
  color: #f0f0f0;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/*
        Main container
*/
.game-info p {
  margin: 1rem 0;
  font-size: 1.25rem;
}

.input-container {
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.wrong {
  border: 1px solid #dd1919;
  animation: horizontal-shaking 0.3s ease-in-out;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
