#logs_arrow {
  position: absolute;
  display: block;
  top: 6rem;
  left: 2rem;
}

#logs {
  position: absolute;
  display: block;
  text-align: end;

  line-height: 1rem;
  top: 8rem;
  left: 3rem;
}

.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
