#accountMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 0;
  cursor: pointer;

  transform: translateY(-10px);
  z-index: 1;
}

#accountMenu #userProfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;

  color: #333;
  text-align: center;
  font-size: 1.25rem;
}

[data-theme="dark"] #accountMenu #userProfil {
  color: #fff;
}

.dropdown-menu {
  /* Ne pas utiliser display: none, car cela empêche les transitions */
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animation sur 0.3s */
  visibility: hidden; /* Cache l'élément initialement */

  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

[data-theme="dark"] .dropdown-menu {
  background-color: #333;
}

#accountMenu:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0); /* Menu revient à sa position initiale */
  visibility: visible; /* Rend le menu visible */
}

.dropdown-menu .btn {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  align-self: stretch;

  background-color: #fff;
  color: #333;
  text-align: center;
  font-size: 1.25rem;

  box-shadow: none;
  border: none;
  border-radius: 0;
}

.dropdown-menu .btn:hover {
  background: #ffdc8b;
}

[data-theme="dark"] .dropdown-menu .btn:hover {
  background: #96b7da;
}

/* Style pour les boutons d'authentification */
.auth-buttons {
  display: flex;
  gap: 1rem;
  position: relative;
}

.auth-buttons .btn {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}
